<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="form">
            <p:panelGrid columns="2" styleClass="panelGrid">
                <f:facet name="header">
                    <h:outputText value="#{msg.userAdd}"/>
                </f:facet>
                <h:outputLabel value="#{msg.login}:" for="login" styleClass="label"/>
                <h:inputText id="login" value="#{userEdit.newUser.login}" required="true"/>
                <h:outputLabel value="#{msg.password}:" for="password" styleClass="label"/>
                <h:inputText id="password" value="#{userEdit.newUser.password}" required="true"/>
                <h:outputLabel value="#{msg.namename}:" for="name" styleClass="label"/>
                <h:inputText id="name" value="#{userEdit.newUser.name}"/>
                <h:outputLabel value="#{msg.surname}:" for="surname" styleClass="label"/>
                <h:inputText id="surname" value="#{userEdit.newUser.surname}"/>
                <h:outputLabel value="#{msg.role}:" for="role" styleClass="label"/>
                <p:selectOneListbox id="role" value="#{userEdit.newUser.role}">
                    <f:selectItems value="#{userEdit.roles}"/>
                </p:selectOneListbox>
            </p:panelGrid><br/><br/>
            <h:message for="login" styleClass="statement"/><br/><br/>
            <h:commandButton actionListener="#{userEdit.addUser}" value="#{msg.add}" styleClass="button"/>
            <h:button outcome="users_list" value="#{msg.back}" styleClass="button"/>
            <h:button outcome="user_add" value="#{msg.reset}" styleClass="button"/>
        </h:form>
    </ui:define>
</ui:composition>
