<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="userId" value="#{userEdit.userId}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="form">
            <p:panelGrid columns="2" styleClass="panelGrid">
                <f:facet name="header">
                    <h:outputText value="#{msg.userEdition}"/>
                </f:facet>
                <h:outputLabel value="#{msg.id}:" for="id" styleClass="label"/>
                <h:outputText id="id" value="#{userEdit.user.id}"/>
                <h:outputLabel value="#{msg.login}:" for="login" styleClass="label"/>
                <h:outputText id="login" value="#{userEdit.user.login}"/>
                <h:outputLabel value="#{msg.password}:" for="password" styleClass="label"/>
                <h:inputText id="password" value="#{userEdit.user.password}" required="true"/>
                <h:outputLabel value="#{msg.namename}:" for="name" styleClass="label"/>
                <h:inputText id="name" value="#{userEdit.user.name}"/>
                <h:outputLabel value="#{msg.surname}:" for="surname" styleClass="label"/>
                <h:inputText id="surname" value="#{userEdit.user.surname}"/>
                <h:outputLabel value="#{msg.role}:" for="role" styleClass="label"/>
                <p:selectOneListbox id="role" value="#{userEdit.user.role}">
                    <f:selectItems value="#{userEdit.roles}"/>
                </p:selectOneListbox>
            </p:panelGrid><br/><br/>
            <h:message for="login" styleClass="statement"/><br/><br/>
            <h:commandButton actionListener="#{userEdit.saveUser}" value="#{msg.save}" styleClass="button"/>
            <h:button outcome="users_list" value="#{msg.back}" styleClass="button"/>
        </h:form>
    </ui:define>
</ui:composition>