<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form>
            <p:dataTable id="table" var="user" value="#{usersList.users}" tableStyle="table-layout: auto"
                         paginator="true" rows="15" paginatorTemplate="{RowsPerPageDropdown}
                         {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,20,50" style="margin-bottom: 25px;margin-top: 25px">
                <f:facet name="header">
                    <h:outputText value="#{msg.usersList}" style="text-transform: uppercase"/>
                </f:facet>
                <p:column headerText="#{msg.id}" sortBy="#{user.id}">
                    <h:outputText value="#{user.id}"/>
                </p:column>
                <p:column headerText="#{msg.login}" sortBy="#{user.login}" filterBy="#{user.login}">
                    <h:outputText value="#{user.login}"/>
                </p:column>
                <p:column headerText="#{msg.namename}" sortBy="#{user.name}" filterBy="#{user.name}">
                    <h:outputText value="#{user.name}"/>
                </p:column>
                <p:column headerText="#{msg.surname}" sortBy="#{user.surname}" filterBy="#{user.surname}">
                    <h:outputText value="#{user.surname}"/>
                </p:column>
                <p:column headerText="#{msg.role}" sortBy="#{user.role}">
                    <h:outputText value="#{user.role}"/>
                </p:column>
                <p:column headerText="#{msg.edit}">
                    <h:button outcome="user_edit" value="#{msg.edits}" styleClass="button">
                        <f:param name="userId" value="#{user.id}"/>
                    </h:button>
                </p:column>
                <p:column headerText="#{msg.deletes}">
                    <h:commandButton value="#{msg.delete}" actionListener="#{usersList.delete(user)}"
                                     styleClass="button"/>
                </p:column>
            </p:dataTable>
            <h:button outcome="user_add" value="#{msg.addNewUser}" styleClass="button"/>
        </h:form><br/>
    </ui:define>
</ui:composition>