<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="departmentId" value="#{departmentEdit.departmentId}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="form">
            <p:panelGrid columns="2" styleClass="panelGrid">
                <f:facet name="header">
                    <h:outputText value="#{msg.departmentEdition}"/>
                </f:facet>
                <h:outputLabel value="#{msg.id}:" for="id" styleClass="label"/>
                <h:outputText id="id" value="#{departmentEdit.department.id}"/>
                <h:outputLabel value="#{msg.name}:" for="name" styleClass="label"/>
                <h:inputText id="name" value="#{departmentEdit.department.name}" required="true"/>
            </p:panelGrid><br/><br/>
            <h:message for="name" styleClass="statement"/><br/><br/>
            <h:commandButton actionListener="#{departmentEdit.saveDepartment}" value="#{msg.save}" styleClass="button"/>
            <h:button outcome="departments_list" value="#{msg.back}" styleClass="button"/>
        </h:form>
    </ui:define>
</ui:composition>
