header h1 {
    background-color: white;
}

nav {
    background-color: olivedrab;
}

section {
    text-align: center;
    background-color: white;
}

footer {
    background-color: olivedrab;
    color: white;
}

aside {
    background-color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    background-color: darkorange;
    text-decoration: underline;
}

body {
    text-align: center;
    margin: auto;
    background-color: white;
}

header {
    text-transform: capitalize;
    text-align: center;
}

th {
    text-transform: capitalize;
    text-align: center;
}

.grid td {
    display: flex;
    float: left;
    white-space: nowrap;
    width: 33.3333333333%;
    box-sizing: border-box;
}
.grid td:nth-child(3n+4) {
    clear: left;
}

table {
    text-align: center;
}

footer {
    text-align: center;
}

.button:hover {
    background-color: darkorange;
    color: white;
}

.button {
    text-transform: capitalize;
    width:auto;
    height:30px;
    font-size:16px;
}

.panelGrid {
    text-transform: capitalize;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-style: solid;
    border-width: 2px;
}

.label {
    font-weight: bold;
}

.statement {
    font-weight: normal;
    font-size: large;
}

.insideTable {
    text-transform: lowercase;
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
}

form fieldset {
    margin: 10px;
}