<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form enctype="multipart/form-data" id="form">
            <p:panelGrid columns="2" styleClass="panelGrid">
                <f:facet name="header">
                    <h:outputText value="#{msg.itemAdd}"/>
                </f:facet>
                <h:outputLabel value="#{msg.name}:" for="name" styleClass="label"/>
                <h:inputText id="name" value="#{itemEdit.newItem.name}" required="true"/>
                <h:outputLabel value="#{msg.description}" for="description" styleClass="label"/>
                <h:inputText id="description" value="#{itemEdit.newItem.description}"/>
                <h:outputLabel value="#{msg.tags}:" for="tag" styleClass="label"/>
                <p:selectManyCheckbox id="tag" styleClass="grid" value="#{itemEdit.newItem.tags}"
                                      converter="tagConverter">
                    <f:selectItems value="#{itemEdit.tags}"/>
                </p:selectManyCheckbox>
                <h:outputLabel value="#{msg.warehouse}:" for="warehouse" styleClass="label"/>
                <p:selectOneListbox id="warehouse" value="#{itemEdit.newItem.warehouse}" converter="warConverter">
                    <f:selectItems value="#{itemEdit.warehouses}"/>
                </p:selectOneListbox>
                <h:outputLabel value="#{msg.department}:" for="department" styleClass="label"/>
                <p:selectOneListbox id="department" value="#{itemEdit.newItem.department}" converter="depConverter">
                    <f:selectItems value="#{itemEdit.departments}"/>
                </p:selectOneListbox>
                <h:outputLabel value="#{msg.category}:" for="category" styleClass="label"/>
                <p:selectOneListbox id="category" value="#{itemEdit.newItem.category}" converter="catConverter">
                    <f:selectItems value="#{itemEdit.categories}"/>
                </p:selectOneListbox>
            </p:panelGrid>
            <h:outputLabel value="#{msg.uploadFoto}:" styleClass="label"/><br/>
            <h:inputFile id="file" value="#{itemEdit.file}" styleClass="button"/><br/><br/>
            <h:message for="file" styleClass="statement"/><br/><br/>
            <h:commandButton actionListener="#{itemEdit.addItem}" value="#{msg.add}" styleClass="button"/>
            <h:button outcome="items_list" value="#{msg.back}" styleClass="button"/>
            <h:button outcome="item_add" value="#{msg.reset}" styleClass="button"/>
        </h:form>
    </ui:define>
</ui:composition>
