<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="itemId" value="#{itemView.itemId}"/>
    </f:metadata>
    <ui:define name="content">
        <p:panelGrid columns="2" styleClass="panelGrid">
            <f:facet name="header">
                <p:graphicImage value="#{imageBean.content}" height="400">
                    <f:param name="id" value="#{itemView.itemId}" />
                </p:graphicImage>
            </f:facet>
            <h:outputLabel value="#{msg.name}:" for="name"  styleClass="label"/>
            <h:outputText id="name" value="#{itemView.item.name}"/>
            <h:outputLabel value="#{msg.description}" for="description"  styleClass="label"/>
            <h:outputText id="description" value="#{itemView.item.description}"/>
            <h:outputLabel value="#{msg.warehouse}:" for="warehouse"  styleClass="label"/>
            <h:outputText id="warehouse" value="#{itemView.item.warehouse.name}"/>
            <h:outputLabel value="#{msg.department}:" for="department"  styleClass="label"/>
            <h:outputText id="department" value="#{itemView.item.department.name}"/>
            <h:outputLabel value="#{msg.category}:" for="category"  styleClass="label"/>
            <h:outputText id="category" value="#{itemView.item.category.name}"/>
            <h:outputLabel value="#{msg.date}:" for="date"  styleClass="label"/>
            <h:outputText id="date" value="#{itemView.item.date}"/>
            <h:outputLabel value="#{msg.tags}:" for="tags"  styleClass="label"/>
            <h:dataTable id="tags" value="#{itemView.item.tags}" var="tag" styleClass="insideTable">
                <h:column>
                    <h:outputText value="#{tag.name}"/>
                </h:column>
            </h:dataTable>
        </p:panelGrid>
        <h:button outcome="items_list" value="#{msg.back}" styleClass="button"/>
    </ui:define>
</ui:composition>
