<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form>
            <p:dataTable var="tag" value="#{itemsList.tags}" styleClass="ui-grid-col-2" paginator="true"
                         rows="15" style="margin-top: 25px">
                <f:facet name="header">
                    <h:outputText value="#{msg.filterBy}" style="text-transform: uppercase"/>
                </f:facet>
                <p:column headerText="#{msg.byTag}" style="text-transform: lowercase">
                    <h:commandButton value="#{tag.name}" actionListener="#{itemsList.filterByTag(tag)}"/>
                </p:column>
            </p:dataTable>
            <p:dataTable var="item" value="#{itemsList.items}" styleClass="ui-grid-col-10"
                         tableStyle="table-layout: auto" paginator="true" rows="15" paginatorTemplate="{RowsPerPageDropdown}
                         {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,20,50" style="margin-bottom: 25px;margin-top: 25px">
                <f:facet name="header">
                    <h:outputText value="#{msg.items}" style="text-transform: uppercase"/>
                </f:facet>
                <p:column headerText="#{msg.id}" sortBy="#{item.id}">
                    <h:outputText value="#{item.id}"/>
                </p:column>
                <p:column headerText="#{msg.name}" sortBy="#{item.name}" filterBy="#{item.name}">
                    <h:outputText value="#{item.name}"/>
                </p:column>
                <p:column headerText="#{msg.warehouse}" sortBy="#{item.warehouse.name}" filterBy="#{item.warehouse.name}">
                    <h:outputText value="#{item.warehouse.name}"/>
                </p:column>
                <p:column headerText="#{msg.department}" sortBy="#{item.department.name}" filterBy="#{item.department.name}">
                    <h:outputText value="#{item.department.name}"/>
                </p:column>
                <p:column headerText="#{msg.category}" sortBy="#{item.category.name}" filterBy="#{item.category.name}">
                    <h:outputText value="#{item.category.name}"/>
                </p:column>
                <p:column headerText="#{msg.date}" sortBy="#{item.date}" filterBy="#{item.date}">
                    <h:outputText value="#{item.date}"/>
                </p:column>
                <p:column headerText="#{msg.details}">
                    <h:button outcome="item_view" value="#{msg.view}" styleClass="button">
                        <f:param name="itemId" value="#{item.id}"/>
                    </h:button>
                </p:column>
                <p:column headerText="#{msg.edit}" rendered="#{roleView.admin}">
                    <h:button outcome="item_edit" value="#{msg.edits}" styleClass="button">
                        <f:param name="itemId" value="#{item.id}"/>
                    </h:button>
                </p:column>
                <p:column headerText="#{msg.delete}" rendered="#{roleView.admin}">
                    <h:commandButton value="#{msg.delete}" actionListener="#{itemsList.delete(item)}"
                                     styleClass="button"/>
                </p:column>
                <p:column headerText="#{msg.deleteMany}" rendered="#{roleView.admin}">
                    <p:selectBooleanCheckbox value="#{item.delete}"/>
                </p:column>
            </p:dataTable><br/><br/>
            <h:commandButton value="#{msg.clearTags}" actionListener="#{itemsList.clearTags}" styleClass="button"/>
            <h:commandButton value="#{msg.groupDeleting}" action="#{itemsList.deleteItems}" styleClass="button"
                             rendered="#{roleView.admin}"/><br/>
        </h:form><br/>
    </ui:define>
</ui:composition>