<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form>
            <p:dataTable var="warehouse" value="#{warehousesList.warehouses}" tableStyle="table-layout: auto"
                         paginator="true" rows="10" paginatorTemplate="{RowsPerPageDropdown}
                         {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15" style="margin-bottom: 25px;margin-top: 25px">
                <f:facet name="header">
                    <h:outputText value="#{msg.warehousesList}" style="text-transform: uppercase"/>
                </f:facet>
                <p:column headerText="#{msg.id}" sortBy="#{warehouse.id}">
                    <h:outputText value="#{warehouse.id}"/>
                </p:column>
                <p:column headerText="#{msg.name}" sortBy="#{warehouse.name}" filterBy="#{warehouse.name}">
                    <h:outputText value="#{warehouse.name}"/>
                </p:column>
                <p:column headerText="#{msg.edit}">
                    <h:button outcome="warehouse_edit" value="#{msg.edits}" styleClass="button">
                        <f:param name="warehouseId" value="#{warehouse.id}"/>
                    </h:button>
                </p:column>
                <p:column headerText="#{msg.deleteGW}">
                    <h:commandButton value="#{msg.delete}" actionListener="#{warehousesList.delete(warehouse)}"
                                     styleClass="button"/>
                </p:column>
            </p:dataTable>
            <h:button outcome="warehouse_add" value="#{msg.addNewWarehouse}" styleClass="button"/><br/><br/><br/>
            <h:outputText value="* - #{msg.warehouseInUse}"/><br/>
        </h:form><br/>
    </ui:define>
</ui:composition>