<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Partex</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="partex"/>
    <meta name="keywords" content="parts"/>
    <meta name="author" content="gigant"/>
    <h:outputStylesheet library="default" name="css/styles.css"/>
    <f:loadBundle basename="pl.codementors.partex.view.messages" var="msg"/>
</h:head>
<h:body>
    <header>
        <h2>Partex 1.0</h2>
    </header>
    <nav>
        <ul>
            <li><h:link outcome="/welcome" value="#{msg.loggIn}"/></li>
            <li><h:link outcome="/item/items_list" value="#{msg.items}"/></li>
            <li><h:link outcome="/item/item_add" value="#{msg.addItem}"/></li>
            <li><h:link outcome="/tag/tags_list" value="#{msg.tags}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="/category/categories_list" value="#{msg.categories}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="/department/departments_list" value="#{msg.departments}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="/warehouse/warehouses_list" value="#{msg.warehouses}" rendered="#{roleView.admin}"/></li>
            <li><h:link outcome="/user/users_list" value="#{msg.users}" rendered="#{roleView.admin}"/></li>
        </ul>
    </nav>
    <section>
        <ui:insert name="content"/>
    </section>
    <br/>
    <br/>
    <footer><br/> &#169; Copyright 2018 - <a href="http://codementors.pl/">http://codementors.pl/</a> - gigant0502</footer>
</h:body>
</html>