<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h:outputText value="#{msg.loginUser}" styleClass="statement" rendered="#{roleView.user}"/>
        <h:outputText value="#{msg.loginAdmin}" styleClass="statement" rendered="#{roleView.admin}"/>
        <br/>
        <br/>
        <h:form>
            <h:commandButton value="#{msg.logout}" actionListener="#{roleView.logout}" styleClass="button"/>
        </h:form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </ui:define>
</ui:composition>