<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form>
            <p:dataTable var="tag" value="#{tagsList.tags}" tableStyle="table-layout: auto"
                         paginator="true" rows="15" paginatorTemplate="{RowsPerPageDropdown}
                         {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                         rowsPerPageTemplate="5,10,15,20,50" style="margin-bottom: 25px;margin-top: 25px">
                <f:facet name="header">
                    <h:outputText value="#{msg.tagsList}" style="text-transform: uppercase"/>
                </f:facet>
                <p:column headerText="#{msg.id}" sortBy="#{tag.id}">
                    <h:outputText value="#{tag.id}"/>
                </p:column>
                <p:column headerText="#{msg.name}" sortBy="#{tag.name}" filterBy="#{tag.name}">
                    <h:outputText value="#{tag.name}"/>
                </p:column>
                <p:column headerText="#{msg.edit}">
                    <h:button outcome="tag_edit" value="#{msg.edits}" styleClass="button">
                        <f:param name="tagId" value="#{tag.id}"/>
                    </h:button>
                </p:column>
                <p:column headerText="#{msg.deleteGW}">
                    <h:commandButton value="#{msg.delete}" actionListener="#{tagsList.delete(tag)}" styleClass="button"/>
                </p:column>
            </p:dataTable>
            <h:button outcome="tag_add" value="#{msg.addNewTag}" styleClass="button"/><br/><br/><br/>
            <h:outputText value="* - #{msg.tagInUse}"/><br/>
        </h:form><br/>
    </ui:define>
</ui:composition>